body {
  color: #222;
  background: #b0f3f1;

  font: 16px/22px helvetica;
  margin: 0;
  min-height: 100vh;
}

.background {
  height: 200vw;
  width: 200vw;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100vw;
  margin-left: -100vw;
  transition: background-image 1s ease-in-out;
  animation: spin 15s infinite linear;
  z-index: -1;
}

#header {
  background: rgba(102, 152, 255, 0.2);
  color: white;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.3);
  width: 100vw;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  font-size: larger;
  z-index: 100000;
  text-align: center;
  padding: 25px;
}

.inner-header {
  overflow: hidden;
  padding: 10px;
  text-align: center;
}

.wrapper {
  margin-inline: auto;
  max-width: 46rem;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  border-radius: 30px;
  margin-top: 24px;
}

.win-screen {
  display: flex;
  background: white;
  opacity: 85%;
  top: 46%;
  padding: 50px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid;
  position: absolute;
  align-items: center;
  font-size: xxx-large;
  font-weight: bold;
  visibility: hidden;
}

.player {
  width: 50%;
  text-align: center;
  margin-top: -20px;
}

.player h2 {
  width: 200px;
  margin: 10px auto;
  border-radius: 15px;
}

.color-selector {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-inline: 5px;
  border: 1px solid;
}

.buttons {
  text-align: center;
  margin-top: 10px;
  line-height: 2rem;
}

.buttons input {
  width: 130px;
}

#board {
  position: relative;
}

/* game board table */
#board td {
  width: 80px;
  height: 80px;
  border: solid 1px #666;
}

/* column-top is table row of clickable areas for each column */
#column-top td {
  border: dashed 1px grey;
  border-radius: 50%;
}

#column-top td:hover {
  background-color: gold;
  border-style: solid;
}

/* pieces are div within game table cells: draw as colored circles */
.piece {
  margin: 8px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  outline: 1px solid;
  /* animation: drop 0.3s ease-in; */
}

.selected {
  outline: 5px solid;
}

@keyframes drop {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(-25px);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
